<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.page.dao.SubmitDao">
    <update id="updateSubmitInfo">
        update submit set UUKey=#{uuKey}, eai_sess=#{eai_sess}, location=#{location},
         email=#{email}, at_school=#{at_school}, flag=#{flag} where userId=#{userId}
    </update>
    <select id="getSubmitInfo" resultType="com.dormitory.page.entity.entity.Submit">
        select UUKey,eai_sess,location,email,at_school,flag from submit where userId=#{userId}
    </select>
</mapper>