.login-form {
    margin-top: 5%;
    width: 20%;
    position: absolute;
    left: 40%;
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5%;
    background-color: aliceblue;
    padding: 3%;
}

.input-length {
    width: 60%;
}

.label-length {
    width: 30%;
}

.row-margin {
    margin-bottom: 10%;
}

.login-label {
    font-weight: 600;
    font-size: large;
}
.hint{
    color: red;
    font-size: small;
}