.cardLine {
    display: inline-block;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
}

.cardBlock {
    text-align: left;
}

.optionList {
    margin-left: 5%;
    margin-top: 3%;
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.detailIntroduction{
    margin-top: 3%;
    margin-right: 3%;
    display: inline-block;
    vertical-align: top;
}