.information{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    text-align: center;
}
.photo{
    clip-path: circle();
    width: 100%;
    height: 400px;
}
.photo:hover{
    opacity: 0.5;
}
.camera{
    opacity: 0.01;
    position: absolute;left: 0;right: 0;top: -40%;bottom: 0;margin: auto; 
    cursor: pointer;
}
.camera:hover{
    opacity: 0.6;
    
}
.profile{
    width: 30%;
    clip-path: circle();
}

.upload{
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 80%;
    height: 80%; */
    background-color: rgb(255,255,255);
    text-align: center;
    border-radius: 25px;
    padding: 50px;  
    /* float: left; */
    /* display: flex; */
    display: table-cell;
    /* vertical-align: middle; */
    box-shadow: 0px 0px 15px 5px rgb(232,232,232);
    align-self: flex-end;

}
.uploadBtn{
    background-color: rgb(38,153,251);
    border: none;
    padding: 8px 16px;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    line-height: 20px;
    cursor:pointer; 
}
.upmargin{
}

.card-container{
    display: inline-block;
    /* width: 30%; */
}
.input-container{
    display: inline-block;
    height: 100%;
    margin-left: 1%;
    /* width: 60%; */
    border-radius: 1%;
    vertical-align: top;
    text-align: center;
}

.update-button{
    margin-top: 3%;
}
@media screen and (max-width:768px){
    .photo {width: 50%;height: auto;border-radius: 0%;}
    .camera{left:-100%; right: 0;margin: auto; opacity: 0.2;}
    .upmargin{
        margin-top: 20px;
    }
    .input-container{margin-left: 0%;}
    .card-container{display: inline;}
    .input-container{display: inline;}
}
.option-btn{
    width: 100%;
}

.card-name{
    text-align: center;
}