.title{
    font-family: wf_segoe-ui_semilight,wf_segoe-ui_normal,Arial,sans-serif;
    text-align: center;
    margin-top: 3%;
}

.personContent{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    text-align: center;
}

.cardself{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 0px;
}

.person-img{
    width: 100%;
    height: 250px;
    border-radius: 50%;
}