.tabbar-font {
    font-weight: 600;
    margin-left: 15%;
}
.margin-length{
    margin-left: 15%;
}
.navbar-content-margin{
    margin-left: 3%;
}
.tabbar-img{
    width: 100%;
}
.navbar-bg{
    background-color: #f8f9fa;
}
.bg-color{

}